PORT=3000
MONGODB_USER=slavnyunstoppable22
MONGODB_PASSWORD=HvU6zGcAIqBS79ZX
MONGODB_URL=cluster0.tp1wo.mongodb.net
MONGODB_DB=students

# mongodb+srv://slavnyunstoppable22:<db_password>@cluster0.tp1wo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
